

.card-image {
    width: 300px;
    height: 300px;
    padding-bottom: 1em;
}

.paginator {
    text-align: center;
}

.search-bar {
    margin-bottom: 2em;
    justify-content: right;
    display: flex;
}